[submodule "contrib/glog"]
	path = contrib/glog
	url = git@github.com:google/glog.git
[submodule "contrib/gflags"]
	path = contrib/gflags
	url = git@github.com:gflags/gflags.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = git@github.com:google/googletest.git
[submodule "contrib/boost"]
	path = contrib/boost
	url = git@github.com:zhiqiang-hhhh/boost.git
[submodule "contrib/zlib-ng"]
	path = contrib/zlib-ng
	url = git@github.com:zhiqiang-hhhh/zlib-ng.git
